// Header
.about-header {
  margin: 5rem 0;
  position: relative;

  .header-wrapper {
    h1 {
      font-size: 4rem;
      font-weight: 600;
      margin-bottom: 50px;
    }

    p {
      font-weight: 300;
      margin: 1rem 0;
    }

    .links {
      font-weight: 300;
    }
  }

  img {
    position: absolute;
    width: 40%;
    bottom: -100px;
    right: 0;
    opacity: 0.5;
    z-index: -1;
  }
}

// About Section
.about-section {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;

  .about-section-header {
    h2 {
      font-size: 1.9rem;
      font-weight: 600;
    }
  }

  .about-section-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;

    .box {
      .box-header {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .box-paragraph {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.5;
      }

      a {
        img {
          width: 70px;
        }
      }
    }
  }

  .about-section-paragraphs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;

    .paragraph-wrapper {
      .paragraph-header {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .paragraph {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}

// Responsive Media Queries
@media (min-width: 720px) {
  .about-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5rem;

    .header-wrapper {
      h1 {
        font-size: 6rem;
      }

      p {
        font-weight: 300;
        margin: 1rem 0;
      }

      .links {
        font-weight: 300;
      }
    }

    img {
      position: relative;
      width: 100%;
      opacity: 1;
      margin: auto 0;
      bottom: 0;
    }
  }
}

@media (min-width: 960px) {
  .about-section {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;

    .about-section-box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .about-section-paragraphs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
