@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

// Colors
$black: #000000;
$blue: #1771a5;
$red: rgb(243, 77, 77);
$light: #eeeeee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Fonts

.font-primary {
  font-family: 'Playfair Display', serif;
}
.font-secondary {
  font-family: 'Roboto', sans-serif;
}

.text-pale {
  opacity: 0.5;
}
