@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors
$black: #000000;
$blue: #5c6f9f;
$red: rgb(243, 77, 77);
$light: #eeeeee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;

  &::selection {
    background: none;
    color: $red;
  }
}

html {
  background: #fdfdfd;
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  height: 2000px;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  line-height: 1.8rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

section {
  position: relative;
  padding: 30px 0;
}

// Fonts

.font-primary {
  font-family: 'Playfair Display', serif;
}
.font-secondary {
  font-family: 'Roboto', sans-serif;
}

.text-pale {
  opacity: 0.5;
}

// Responsive Media Queries
@media (min-width: 1640px) {
  html {
    font-size: 1.6rem;
  }
}
