// Links & Buttons
.link {
  position: relative;
  transition: all 0.3s ease;

  &:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $black;
    z-index: 1;
  }

  &.no-underline-link {
    &:after {
      display: none;
    }
  }

  &:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgb(44, 19, 241) 0%,
      rgb(243, 77, 77) 100%
    );
    transition: all 0.5s ease;
    transform-origin: left;
    transform: scaleX(0);
    z-index: 2;
  }

  &:hover {
    color: $blue;
    &:before {
      transform: scaleX(1);
    }
  }
}

// Button
.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 50px;
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;

  &:hover {
    color: $red;
    border-color: $red;
    animation-name: btnAnimation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }
}

// Tooltip
[data-tooltip] {
  position: relative;
  border-bottom: 1px dashed #eeeeee;

  &:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -100px;
    padding: 10px 7px;
    width: 200px;
    height: auto;
    color: $blue;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    z-index: 999;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    background: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

// Arrow
.down-arrow {
  position: fixed;
  display: block;
  text-align: center;
  bottom: 10px;
  left: calc(50% - 12px);
  transition: all 0.5s ease;
  color: #d8d8d8;

  &.up {
    bottom: 20px;
    transform: rotate(-180deg);
  }
}

@keyframes btnAnimation {
  from {
    color: $red;
    border-color: $red;
  }
  to {
    color: $blue;
    border-color: $blue;
  }
}

.cursor {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid #979797;
  border-radius: 50%;
  position: absolute;
  transition-duration: 50ms;
  transition-timing-function: ease-out;
  pointer-events: none;

  &.expand {
    animation: cursorAnimExpand 0.5s forwards;
  }
}

@keyframes cursorAnimExpand {
  0% {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border: 1px solid #eeeeee;
  }
  50% {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    border: 1px solid $blue;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

// Line
.line-center {
  position: relative;
  margin: 30px auto;
  height: 180px;
  width: 1px;
  background: #000000;
}

.line-left {
  position: relative;
  margin-right: auto;
  height: 180px;
  width: 1px;
  background: #000000;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.align-center {
  text-align: center;
}

.span-2 {
  grid-column: span 2;
}
